@keyframes appearsInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stopSpinning {
  0% {
    transform: rotate(360deg) scale(1) translate(2px, 2px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}

@keyframes rotateThis {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}