@import './vars.scss';
@import './mixin.scss';

#app {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  box-sizing: border-box;
}

main {
  flex: 2 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h2,
h3,
h4,
h5,
h6,
button,
a,
blockquote,
input {
  user-select: none;
}
h1 {
  font-family: 'Arbutus Slab', sans-serif;
}
h1 {
  font-size: 42px;
  margin: 0;
}
figcaption {
  user-select: none;
  font-weight: lighter;
}
h2,
h3,
h4,
h5,
h6,
p,
figcaption,
label,
button,
a,
blockquote,
cite,
input,
div,
span {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h2 {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
}
a {
  text-decoration: none;
  transition: 0.2s;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    color: $focused;
  }
}
p {
  line-height: 20px;
  font-size: 1rem;

  @include tablet {
    font-size: 0.9rem;
  }
  @include laptop {
    font-size: 1rem;
  }
}
small,
small p {
  font-size: 0.6rem;

  @include tablet {
    font-size: 0.7rem;
  }
  @include laptop {
    font-size: 0.8rem;
  }
}
em {
  font-style: italic;
}
blockquote {
  margin: 5px;
  line-height: 18px;
  font-weight: lighter;

  @include tablet {
    margin: 10px;
  }
  @include laptop {
    margin: 20px;
  }
}
cite {
  font-size: 14px;
  font-style: italic;
}
