h1 {
  font-family: 'Mrs Sheppards', sans-serif;
  margin: 0;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
blockquote {
  margin: 20px;
}
cite {
  font-size: 14px;
}
main {
  padding: 10px;
}