@import './vars.scss';

h1 {
  font-size: 42px;
  font-family: 'Arbutus Slab', sans-serif;
  margin: 0;
}
h2,h3, h4, h5, h6, p, label, button, a, blockquote, cite, input, div, span {
  font-family: 'Raleway',
  Helvetica,
  Arial,
  sans-serif;
}
h2 {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
p {
  line-height: 20px;
}
small {
  font-size: .8rem;
}
em {
  font-style: italic;
}
blockquote {
  margin: 20px;
  line-height: 18px;
  font-weight: lighter;
}
cite {
  font-size: 14px;
  font-style: italic;
}
header {
  min-height: $header-mobile-height;
  box-sizing: border-box;
}
main {
  min-height: $main-mobile-height;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}
footer {
  min-height: $footer-mobile-height;
  box-sizing: border-box;
  padding: 20px 6
}