// COLORS
$dark-gray: #2c3e50;
$gray: #888888;
$light-gray: #d8d8d8;
$meadow-green: #9fcb55;
$garden-green: rgb(121, 159, 55);
$jungle-green: #3b7200;
$bio-green: rgba(96, 255, 109, 0.137);
$focused: rgb(255, 75, 75);
// VIEWPORT BREAKPOINTS
$laptop-width: 1120px;
$tablet-width: 550px;
$mobile-width: 549px;

// MINIMUM HEIGHT
$header-mobile-height: 200px;
$footer-mobile-height: 110px;
$main-mobile-height: calc(
  100vh - (#{$header-mobile-height} + #{$footer-mobile-height})
);
